<a href="https://colab.research.google.com/github/BinXBioLab/Data_Science_Capstone_Fall_2022/blob/CCI/CellPhoneDB_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CellPhoneDB Exploration Notebook 
## Katharina Fijan

### Data Import & Exploration

In [ ]:
#mount access to google drive to access data from Prof Xu's lab
from google.colab import drive
drive.mount('/mntDrive')

Drive already mounted at /mntDrive; to attempt to forcibly remount, call drive.mount("/mntDrive", force_remount=True).

In [ ]:
!python --version

Python 3.7.14

In [ ]:
!pip freeze

In [ ]:
#wait to install cellphonedb until later! -- need to downgrade anndata
# !pip install cellphonedb
# # !pip install scanpy
# # !pip install anndata
# import cellphonedb

In [ ]:
# import pandas as pd
import anndata as ad
import os
ad.__version__

'0.8.0'

In [ ]:
#define save location for intermediate files
base_filepath = ''
inter_folder = ''
final_folder = ''

In [ ]:
!pip install anndata==0.8.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting anndata==0.8.0
  Using cached anndata-0.8.0-py3-none-any.whl (96 kB)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (1.19.5)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (4.1.1)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (21.3)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (5.5.0)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (5.0.0)
Requirement already satisfied: pandas>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (1.1.4)
Collecting h5py>=3
  Downloading h5py-3.7.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 5.2 MB/s
Requirement already satisfied: scipy>1.4 in /usr/local/lib/python3.7/dist-packages (from anndata==0.8.0) (1.7.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->anndata==0.8.0) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20->anndata==0.8.0) (3.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.1->anndata==0.8.0) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.1->anndata==0.8.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.1->anndata==0.8.0) (1.15.0)
Installing collected packages: h5py, anndata
  Attempting uninstall: h5py
    Found existing installation: h5py 2.10.0
    Uninstalling h5py-2.10.0:
      Successfully uninstalled h5py-2.10.0
  Attempting uninstall: anndata
    Found existing installation: anndata 0.7.8
    Uninstalling anndata-0.7.8:
      Successfully uninstalled anndata-0.7.8
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220929150707 requires numpy>=1.20, but you have numpy 1.19.5 which is incompatible.
cellphonedb 3.1.0 requires h5py<3.0.0, but you have h5py 3.7.0 which is incompatible.
Successfully installed anndata-0.8.0 h5py-3.7.0

In [ ]:
import anndata as ad

In [ ]:
ad.__version__

'0.8.0'

In [ ]:
adata = ad.read('/mntDrive/MyDrive/Capstone/Data_Science_Capstone_Fall_2022/raw_data/Pasca_scRNAseq/inter/pasca.log1p_liger_med_singleR_noglyc.h5ad')

In [ ]:
adata

AnnData object with n_obs × n_vars = 45214 × 25392
    obs: 'batch', 'condition', 'sampleID', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'n_counts_ribo_p', 'percent_ribo_p', 'sf', 'leiden', 'nowakowski_med'
    var: 'gene_ids', 'feature_types', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'n_cells'
    uns: 'batch_colors', 'condition_colors', 'leiden', 'log1p', 'neighbors', 'umap'
    obsm: 'X_liger', 'X_umap'
    layers: 'counts', 'sf'
    obsp: 'connectivities', 'distances'

In [ ]:
#convert counts layer into dataframe --  needed in txt for CellphoneDB
## Expected format: rows are genes, columns are cells with IDs // recommended to be normalized prior to use in CellPhoneDB

counts_df = adata.to_df(layer="counts")
counts_df.head()

,MIR1302-2HG,AL627309.1,AL627309.3,AL732372.1,AL669831.5,FAM87B,LINC00115,FAM41C,AL645608.7,AL645608.3,...,MAFIP,AC011043.1,AL592183.1,AC007325.4,AC007325.2,BX072566.1,AC023491.2,AC004556.1,AC240274.1,FAM231C
AAACCTGAGCTCAACT-1-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGGAATGGA-1-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGTCGCCGT-1-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGTCTCCTC-1-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGTGCCATT-1-0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#transpose counts & save intermediate counts file
counts_data = counts_df.transpose()

counts_data.head()

,AAACCTGAGCTCAACT-1-0,AAACCTGAGGAATGGA-1-0,AAACCTGAGTCGCCGT-1-0,AAACCTGAGTCTCCTC-1-0,AAACCTGAGTGCCATT-1-0,AAACCTGCAACTGCGC-1-0,AAACCTGCAAGTCTAC-1-0,AAACCTGCAATGCCAT-1-0,AAACCTGCATGCCTAA-1-0,AAACCTGCATGCGCAC-1-0,...,TTTGTCATCAACACGT-1-3,TTTGTCATCACGATGT-1-3,TTTGTCATCACGGTTA-1-3,TTTGTCATCATCGGAT-1-3,TTTGTCATCCCGACTT-1-3,TTTGTCATCGCAAACT-1-3,TTTGTCATCGTAGATC-1-3,TTTGTCATCGTAGGAG-1-3,TTTGTCATCTAACTTC-1-3,TTTGTCATCTTGCCGT-1-3
MIR1302-2HG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL732372.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL669831.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
filename = 'counts_data.txt'
counts_data.to_csv(os.path.join('/mntDrive/MyDrive/Capstone/', filename), index=False)

In [ ]:
meta_nowakowski = pd.DataFrame(adata.obs['nowakowski_med'])
meta_nowakowski

                     nowakowski_med
AAACCTGAGCTCAACT-1-0          EN-V1
AAACCTGAGGAATGGA-1-0         IN-STR
AAACCTGAGTCGCCGT-1-0        IPC-nEN
AAACCTGAGTCTCCTC-1-0       RG-early
AAACCTGAGTGCCATT-1-0        IPC-nEN
...                             ...
TTTGTCATCGCAAACT-1-3        IPC-nEN
TTTGTCATCGTAGATC-1-3            vRG
TTTGTCATCGTAGGAG-1-3       RG-early
TTTGTCATCTAACTTC-1-3        IPC-nEN
TTTGTCATCTTGCCGT-1-3       RG-early

[45214 rows x 1 columns]

In [ ]:
meta_nowakowski = meta_nowakowski.reset_index().rename(columns={'index': 'Cell', 'nowakowski_med':'cell_type'})
meta_nowakowski.head()

                   Cell cell_type
0  AAACCTGAGCTCAACT-1-0     EN-V1
1  AAACCTGAGGAATGGA-1-0    IN-STR
2  AAACCTGAGTCGCCGT-1-0   IPC-nEN
3  AAACCTGAGTCTCCTC-1-0  RG-early
4  AAACCTGAGTGCCATT-1-0   IPC-nEN

In [ ]:
filename = 'meta_data.txt'
meta_nowakowski.to_csv(os.path.join('/mntDrive/MyDrive/Capstone/CellphoneDB_Files', filename), index=False, sep ='\t')

In [ ]:
# meta_nowakowski = adata.obs['nowakowski_med'].to_df()

AAACCTGAGCTCAACT-1-0       EN-V1
AAACCTGAGGAATGGA-1-0      IN-STR
AAACCTGAGTCGCCGT-1-0     IPC-nEN
AAACCTGAGTCTCCTC-1-0    RG-early
AAACCTGAGTGCCATT-1-0     IPC-nEN
                          ...
TTTGTCATCGCAAACT-1-3     IPC-nEN
TTTGTCATCGTAGATC-1-3         vRG
TTTGTCATCGTAGGAG-1-3    RG-early
TTTGTCATCTAACTTC-1-3     IPC-nEN
TTTGTCATCTTGCCGT-1-3    RG-early
Name: nowakowski_med, Length: 45214, dtype: category
Categories (28, object): ['Astrocyte', 'Choroid', 'EN-PFC', 'EN-V1', ..., 'nIN', 'oRG', 'tRG', 'vRG']

### CellPhoneDB data prep code from anndata
Provided on CellPhoneDB GitHub

In [ ]:
""" Step 0 - prepare your data

Prepare cellphoneDB inputs starting from an anndata object object
"""

import numpy as np
import pandas as pd
import scanpy as sc
import anndata
import os
import sys
from scipy import sparse



sc.settings.verbosity = 1  # verbosity: errors (0), warnings (1), info (2), hints (3)
sys.executable

'/usr/bin/python3'

In [ ]:
"""1. Load andata
The anndata object contains counts that have been normalized (per cell) and log-transformed."""

In [ ]:
adata = sc.read('endometrium_example_counts.h5ad')

In [ ]:
"""2. Generate your meta

In this example, our input is an anndata containing the cluster/celltype information in anndata.obs['cell_type']

The object also has anndata.obs['lineage'] information wich will be used below for a hierarchical DEGs approach."""

In [ ]:
adata.obs['cell_type'].values.describe()

In [ ]:
df_meta = pd.DataFrame(data={'Cell':list(adata.obs.index),
                             'cell_type':[ i for i in adata.obs['cell_type']]
                            })
df_meta.set_index('Cell', inplace=True)
# df_meta.to_csv('endometrium_example_meta.tsv', sep = '\t')

In [ ]:
## Run CellPhoneDB
# shell cellphonedb method statistical_analysis test_meta.txt test_counts.txt

Cellphone DB with test data

In [ ]:
sample_count_path = '/mntDrive/MyDrive/Capstone/CellphoneDB_Files/sample_counts_file.txt'
sample_meta_path = '/mntDrive/MyDrive/Capstone/CellphoneDB_Files/sample_meta_file.txt'

In [ ]:
!pip install cellphonedb

In [ ]:
import cellphonedb

In [ ]:
!cellphonedb method statistical_analysis --help

Usage: cellphonedb method statistical_analysis
           [OPTIONS] META_FILENAME COUNTS_FILENAME

Options:
  --counts-data [ensembl|gene_name|hgnc_symbol]
  --project-name TEXT             Name of the
                                  project. It
                                  creates a
                                  subfolder in
                                  output folder

  --microenvs TEXT                Path to microenv
                                  ironments file
                                  [None]

  --threshold FLOAT               % of cells
                                  expressing a
                                  gene

  --result-precision INTEGER      Number of
                                  decimal digits
                                  in results [3]

  --output-path TEXT              Directory where
                                  the results will
                                  be allocated
                                  (the directory
                                  must exist)
                                  [out]

  --output-format [txt|csv|tsv|tab]
  --means-result-name TEXT        Means result
                                  namefile [means]

  --significant-means-result-name TEXT
                                  Significant
                                  result namefile [
                                  significant_mean
                                  s]

  --deconvoluted-result-name TEXT
                                  Deconvoluted
                                  result namefile
                                  [deconvoluted]

  --verbose / --quiet             Print or hide
                                  cellphonedb logs
                                  [verbose]

  --database TEXT
  --debug                         Save
                                  intermediate and
                                  result data as a
                                  pickle files

  --subsampling                   Enable
                                  subsampling

  --subsampling-log BOOLEAN       Enable
                                  subsampling
                                  log1p for non
                                  transformed data
                                  inputs
                                  !mandatory!

  --subsampling-num-pc INTEGER    Subsampling
                                  NumPC argument
                                  [100]

  --subsampling-num-cells INTEGER
                                  Number of cells
                                  to subsample
                                  (defaults to a
                                  1/3 of cells)

  --debug-seed INTEGER            Debug random
                                  seed 0 for
                                  disable it. >=0
                                  to set it [-1]

  --pvalue FLOAT                  Pvalue threshold
                                  [0.05]

  --pvalues-result-name TEXT      Pvalues result
                                  namefile
                                  [pvalues]

  --iterations INTEGER            Number of
                                  pvalues analysis
                                  iterations
                                  [1000]

  --threads INTEGER               Max of threads
                                  to process the
                                  data [4]

  --help                          Show this
                                  message and
                                  exit.

In [ ]:
#run statistical analysis - took 43 seconds
!cellphonedb method statistical_analysis /mntDrive/MyDrive/Capstone/CellphoneDB_Files/sample_meta_file.txt /mntDrive/MyDrive/Capstone/CellphoneDB_Files/sample_counts_file.txt --output-path /mntDrive/MyDrive/Capstone/CellphoneDB_Files/

[ ][CORE][12/10/22-21:59:27][INFO] Initializing SqlAlchemy CellPhoneDB Core
[ ][CORE][12/10/22-21:59:27][INFO] Using custom database at /root/.cpdb/releases/v4.0.0/cellphone.db
[ ][APP][12/10/22-21:59:27][INFO] Launching Method cpdb_statistical_analysis_local_method_launcher
[ ][APP][12/10/22-21:59:27][INFO] Launching Method _set_paths
[ ][APP][12/10/22-21:59:27][WARNING] Output directory (/mntDrive/MyDrive/Capstone/CellphoneDB_Files/) exist and is not empty. Result can overwrite old results
[ ][APP][12/10/22-21:59:27][INFO] Launching Method _load_meta_counts
[ ][APP][12/10/22-21:59:27][INFO] Launching Method _check_counts_data
[ ][CORE][12/10/22-21:59:27][INFO] Launching Method cpdb_statistical_analysis_launcher
[ ][CORE][12/10/22-21:59:27][INFO] Launching Method _counts_validations
[ ][CORE][12/10/22-21:59:27][INFO] Launching Method get_interactions_genes_complex
[ ][CORE][12/10/22-21:59:27][INFO] [Cluster Statistical Analysis] Threshold:0.1 Iterations:1000 Debug-seed:-1 Threads:4 Precision:3
[ ][CORE][12/10/22-21:59:29][INFO] Running Real Analysis
[ ][CORE][12/10/22-21:59:29][INFO] Running Statistical Analysis
[ ][CORE][12/10/22-22:00:08][INFO] Building Pvalues result
[ ][CORE][12/10/22-22:00:08][INFO] Building results

In [ ]:
!cellphonedb plot dot_plot --help

Usage: cellphonedb plot dot_plot
           [OPTIONS]

Options:
  --means-path FILE        Analysis output means
                           [./out/means.txt]

  --pvalues-path FILE      Analysis output pvalues
                           [./out/pvalues.txt]

  --output-path DIRECTORY  Path to write generated
                           plot [./out]

  --output-name TEXT       Output file with plot
                           [plot.pdf]

  --rows FILE              List of rows to plot,
                           one per line [all
                           available]

  --columns FILE           List of columns to
                           plot, one per line [all
                           available]

  --verbose / --quiet      Print or hide
                           cellphonedb logs
                           [verbose]

  --help                   Show this message and
                           exit.

In [ ]:
!cellphonedb plot dot_plot --help

Usage: cellphonedb plot dot_plot
           [OPTIONS]

Options:
  --means-path FILE        Analysis output means
                           [./out/means.txt]

  --pvalues-path FILE      Analysis output pvalues
                           [./out/pvalues.txt]

  --output-path DIRECTORY  Path to write generated
                           plot [./out]

  --output-name TEXT       Output file with plot
                           [plot.pdf]

  --rows FILE              List of rows to plot,
                           one per line [all
                           available]

  --columns FILE           List of columns to
                           plot, one per line [all
                           available]

  --verbose / --quiet      Print or hide
                           cellphonedb logs
                           [verbose]

  --help                   Show this message and
                           exit.

In [ ]:
!cellphonedb plot dot_plot --output-path /mntDrive/MyDrive/Capstone/CellphoneDB_Files/

In [ ]:
!cellphonedb plot heatmap_plot /mntDrive/MyDrive/Capstone/CellphoneDB_Files/sample_meta_file.txt

R[write to console]: Error in library(pheatmap) : there is no package called ‘pheatmap’

[ ][APP][12/10/22-21:51:51][ERROR] Unexpected error
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/cellphonedb/src/api_endpoints/terminal_api/plot_terminal_api_endpoints/plot_terminal_commands.py", line 78, in heatmap_plot
    pvalue=pvalue)
  File "/usr/local/lib/python3.7/dist-packages/cellphonedb/src/plotters/r_plotter.py", line 38, in wrapper
    return f(*args, **kwargs, robjects=robjects, r_runtime_error=RRuntimeError)
  File "/usr/local/lib/python3.7/dist-packages/cellphonedb/src/plotters/r_plotter.py", line 60, in heatmaps_plot
    robjects.r.source(os.path.join(this_file_dir, 'R/plot_heatmaps.R'))
  File "/usr/local/lib/python3.7/dist-packages/rpy2/robjects/functions.py", line 199, in __call__
    .__call__(*args, **kwargs))
  File "/usr/local/lib/python3.7/dist-packages/rpy2/robjects/functions.py", line 125, in __call__
    res = super(Function, self).__call__(*new_args, **new_kwargs)
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/conversion.py", line 45, in _
    cdata = function(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface.py", line 680, in __call__
    raise embedded.RRuntimeError(_rinterface._geterrmessage())
rpy2.rinterface_lib.embedded.RRuntimeError: Error in library(pheatmap) : there is no package called ‘pheatmap’